Options -Multiviews

RewriteEngine On

RewriteRule ^(list|create)/([0-9a-fA-F]{32})$ $1.php?id=$2 [L,QSA]
RewriteRule ^(list|create)/(.+)$ $1.php?name=$2 [L,QSA]
RewriteRule ^(delete)/([0-9a-fA-F]{32})/(\d+)$ $1.php?id=$2&suspension=$3 [L]
RewriteRule ^(delete)/([^/]+)/(\d+)$ $1.php?name=$2&suspension=$3 [L]