Options -Multiviews

RewriteEngine On

RewriteRule ^list$ list.php [L]

RewriteRule ^(rate|approve)/(\d+)$ $1.php?id=$2 [L]
RewriteRule ^create/([0-9a-fA-F]{32})$ create.php?id=$1 [L]
RewriteRule ^create/(.+)/(.+)$ create.php?name=$1&version=$2 [L]